# GitHub Dependabot configuration (alternative: explicitly ignore major version bumps)
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
    commit-message:
      prefix: chore(github-deps)
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
    allow:
      - dependency-type: "direct"
    ignore:
      - dependency-type: "direct"
        update-types:
          - "version-update:semver-major"
    commit-message:
      prefix: chore(python-deps)