name: Test Local Pipeline Runners

on:
  pull_request:
    paths:
      - "kubeflow-pipelines/**"
      - ".github/workflows/execute-kfp-localrunners.yml"
  push:
    branches: [ main ]
    paths:
      - "kubeflow-pipelines/**"
      - ".github/workflows/execute-kfp-localrunners.yml"
  workflow_dispatch:
    inputs:
      # Maintainers can provide a PR number or existing  branch name to run this
      # job against. If no PR number or branch name is provided, this job will run against
      # content in the "main" branch instead.
      pr_or_branch:
        description: "Pull request number or branch name"
        required: true
        default: "main"

jobs:
  test-local-pipelines:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pipeline:
          - docling-standard
          #- docling-vlm
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      
      - name: Install minimal requirements
        run: pip install docker kfp
      
      - name: Create output directory
        working-directory: kubeflow-pipelines/${{ matrix.pipeline }}
        run: |
          mkdir -p local_outputs
          chmod 755 local_outputs
      
      - name: Run local pipeline
        working-directory: kubeflow-pipelines/${{ matrix.pipeline }}
        run: python local_run.py
